    /* GENERAL  */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .productscreen{
        margin: 30px auto;
        width: 80%;
        background-color: red;
        min-height: 700px;
    }

    .product-section{
        background-color: aliceblue;
        display: inline-block;
        height: 600px;
    }
    .brand,.price{
        display: block;
    }

    /* UTILITY  */

    .relativ{
        position: relative;
    }

    .absolute{
        position: absolute;
    }



    /* MAIN  */
    .product-img{
        display: inline-block;
        width: 350px;
        height: 500px;
    }
    img{
        background-color: aqua;
        height: 100%;
        width: 100%;
    }
    .icon{
        background-color: white;
        width: 50px;
        height: 50px;
        right: 0;
        top: 20px;
    }
    
    .info{
        bottom: 20px;
    }
    .scount{
        background-color: red;
        padding: 5px;
        color: white;
    }
    .sostenible{
        background-color: green;
        padding: 5px;
    }