    /* GENERAL  */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    

    .productscreen{
        margin: 30px auto;
        width: 80%;
        /* background-color: red; */
        min-height: 700px;
        text-align: center;

    }

    .product-section{
        /* background-color: aliceblue; */
        display: inline-block;
        margin:0 20px 50px auto ;
        width: 480px;
    }
    .brand,.price{
        display: block;
    }

    /* UTILITY  */

    .relativ{
        position: relative;
    }

    .absolute{
        position: absolute;
    }

    .euro::after{
        content: " \20AC";
    }


    /* MAIN  */

    /* PRODUCT IMG  */
    .product-img{
        display: inline-block;
        width: 100%;
        height: 690px;
    }
    img{
        background-color: aqua;
        width: 100%;
    }

    



    /* PRODUCT INFO  */
    .icon{
        background-color: white;
        width: 50px;
        height: 50px;
        right: 0;
        top: 20px;
        text-align: center;
        line-height: 50px;
        font-size: 28px;
    }
    
    .info{
        bottom: 20px;
    }

    .product-name{
        text-transform: uppercase;
    }


    .scount, .sostenible{
        padding: 4px;
        font-size: 0.8rem;

    }

    .scount{
        background-color: red;
        color: white;
    }
    .sostenible{
        background-color: green;
        display: none;
        color: white;
    }
    
    .scounted-price{
        color: red;
    }

    .normal-price{
        text-decoration: line-through;
    }
    

    /* secondpart with hover  */
    .invisible{
        display: none;
    }

    .product-section:hover .invisible{
        display: block;
    }

    /* SOSTENIBLE PRODUCTS  */
    .product-section:nth-of-type(1) .sostenible{
        display: inline-block;
    }

    .product-section:nth-of-type(4) .sostenible{
        display: inline-block;
    }

    .product-section:nth-of-type(6) .sostenible{
        display: inline-block;
    }

    /*PRODUCTS WITHOUT  SCOUNTE  */
    .product-section:nth-of-type(5) .scount{
        display: none;
    }
    .product-section:nth-of-type(6) .scount{
        display: none;
    }
    
    /*PRODUCTS WITHOUT  scounted price  */
    .product-section:nth-of-type(3) .normal-price{
        display: none;
    }
    .product-section:nth-of-type(5) .normal-price{
        display: none;
    }.product-section:nth-of-type(6) .normal-price{
        display: none;
    }